#dropdown-header {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
}

#dropdown-header h1, 
#dropdown-header p {
  margin: 0 10px;
  cursor: pointer;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.dropdown-item {
  background-color: gray;
}

#dropdown-header, .dropdown-item  {
  width: 200px;
  border: 2px solid;
  height: 30px;
}

.hidden {
    display: none;

}

/* Image carousel style */
.img-container {
  width: 600px;
  height: 400px;
  margin: 200px auto;
}
.img-container div:last-of-type {
  display: flex;
  justify-content: space-around;
}
.invisible {
  display: none;
}
#button-div {
  display: flex;
  justify-content: space-between;
}